*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
p{
  font-size: 1rem;
  text-align: justify;
}
h2{
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.dotted_hr{
  border: 6px dotted #fff;
  border-bottom: none;
  width: 70px;
  margin: 20px auto;
}

[class*="col-"]{
  text-align: center;
  padding: 20px;
}
.nav .nav_logo img {
  width: 200px;
  height: 150px;
  box-shadow: 0px 2px 105px #6e86b1;
}

.nav{
  background-color: #4f75bb;
  padding:20px ;
 
}

.nav .nav_heading h1{
  color: #fff;
  font-size: 28px;
}
.nav .nav_menu{
  margin: 0;
  padding: 0;
}

.nav .nav_menu a{
  display: block;
  padding: 20px 0;
  font-size: 20px;
  background: cornflowerblue;
  margin: 5px 0;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  border: none;
}
.nav .nav_menu a:hover{
  background: transparent;
  color: #000;
  
}
/* nav bar style end */

/* profile style start frome hear */

.profile{
  padding: 130px 20px;
  position: relative;
  text-align: center;
}


.profile .weather_icon{
  position: absolute;
  width: 150px;
  top: 20px;
  right: 60px;
  transition: transform 2s, width 2s;
}
.profile .weather_icon:hover{
  transform: rotate(360deg);
  width: 100px;
}
.profile_desc h1{
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
}
.profile_desc p{
  text-align: center;
  color: gray;
  width: 90%;
  margin: 0 auto 20px auto;
}
.profile .bottom_weather_icon{
  position: absolute;
  width: 150px;
  bottom:10px;
  left: 60px;
  transition: transform 2s, width 2s;
}
.profile .bottom_weather_icon:hover{
  transform: rotate(360deg);
  width: 100px;
}

.profile:after{
  content: '';
  clear: both;
  display: table;
}

/* Profile style ends hete */

/* About Me style start hete */

.about_me{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: cornflowerblue;
  text-align: center;
  padding: 1% 7%;
  color: #fff;
}

.aboutme_img img{
  width: 200px;
  height: 210px;
  border-radius: 50%;
  border: 5px solid #fff;

}
.about_me p{
  text-align: center;
}
.about_me a{
  font-size: 1.2rem;
}
.about_me .cv_button{
  border: none;
  background: rgb(21, 52, 109);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s;
}
.about_me .cv_button:hover{
  background: #808080;
  color: #000;
}


.about_me:after{
  clear: both;
  display: table;
  content: '';
}
/* About Me style ends hete */

/* pro_experience start from here */
.pro_experience{
  padding: 1% 2%;
  background: #ddd;
  
}
.card_title h2,.skill_title h2{
  background: #352e26;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #faf9f9;
}
.work_experience,.education,.skills{
  padding: 20px;
  text-align: left;
  
}
.card{
  background: #adabab;
  padding: 25px ;
  border-radius: 5px;
  transition: 0.5s;
  height: 750px;
 
}
.card:hover{
  box-shadow: 0px 5px 8px 8px #000;
}
.card .card_icon{
  text-align: center;
  margin-top: 20px;
}
.card .card_icon img{
  width: 100px;
  border: 5px solid #fff;
  border-radius: 40%;
  padding: 15px;
}

.card_title h2{
 
}

.card_desc{
  line-height: 22px;
  letter-spacing: 1px;
}



.skills_progress{
  padding-right: 45px;
}
.skills_progress li{
  margin: 40px 10px;
  position: relative;
  list-style: none;
  font-weight: bolder;
}
.skills_progress li:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 15px;
  background: #8787e7;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 1000px;
}
.skills_progress li::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 15px;
  background: #3737aa;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 1000px;
  transition: 2s;
  
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-delay: 2s;
  
}

.skills_progress li.html::after{
  animation-name: html;
}

@keyframes html {
  0%{
    background: navy;
  }
  90%{
    width: 90%;
    background: rgb(50, 43, 90);
  }
}
.skills_progress li.css::after{
  animation-name: css;
}

@keyframes css {
  0%{
    background: navy;
  }
  90%{
    width: 80%;
    background: rgb(50, 43, 90);
  }
}
.skills_progress li.java::after{
  animation-name: java;
}

@keyframes java {
  0%{
    background: navy;
  }
  90%{
    width: 70%;
    background: rgb(50, 43, 90);
  }
}
.skills_progress li.bootstpe::after{
  animation-name: bootstpe;
}

@keyframes bootstpe {
  0%{
    background: navy;
  }
  90%{
    width: 85%;
    background: rgb(50, 43, 90);
  }
}
.skills_progress li.js::after{
  animation-name: js;
}

@keyframes js {
  0%{
    background: navy;
  }
  90%{
    width: 95%;
    background: rgb(50, 43, 90);
  }
}
.skills_progress li.phython::after{
  animation-name: phython;
}

@keyframes phython {
  0%{
    background: navy;
  }
  90%{
    width: 75%;
    background: rgb(50, 43, 90);
  }
}
.pro_experience:after{
  content: '';
  clear: both;
  display: table;
}

/* pro_experience end here */

 /* Achivment design start from here  */
 .achivent_contact{
   padding: 1% 7%;
   background: #1c99b8;
   color: #fff;
 }

 .contact_me{
   text-align: center;
 }
 .contact_me input, textarea{
   width: 100% ;
   resize: none;
   padding: 10px;
   font-size: 1rem;
   border: none;
   border-radius: 5px;
   margin-left: 10px;
   text-align: center;
   
 }
 .contact_me input, textarea:focus{
   outline: none;
 }
 .contact_me .button{
  text-align: center;
  
 }
 .contact_me button{
   padding: 10px 15px;
  margin: 10px;
  border: none;
  background: rgb(8, 8, 90);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
 }
 .contact_me button:hover{
   background: #18181a;

 }
 .contact_links{
   text-align: center;
 }

.media_btn .btn{
  border: none;
  border-radius: 25px;
  width: 50px;
  font-size: 32px;
  padding: 5px;
  margin: 10px;
  cursor: 
  
  ;
  
}

.cntact_links .btn:hover{
  background: #808080;
}

 .achivent_contact:after{
  content: '';
  clear: both;
  display: table;
}
 /* Achivment design end  here  */


 /* Footer style start here */
.footer{
  background: #000000;
  padding: 20px;
  text-align: center;
  font-size: .8rem;
}


.footer_menu a{
 display: block;
 font-size: 1rem;
 margin: 15px 0;
}
.footer_menu a:hover{
  color: #808080;
}
.footer_desc{
  color: #fff;
  margin-bottom: 30px;
}

.footer:after{
  content: '';
  display: table;
  clear: both;
}

 /* Footer style end here */

